/.vs/GeekShopping.slnx/DesignTimeBuild/.dtbcache.v2
/.vs/GeekShopping.slnx/FileContentIndex/0b546d18-1832-4432-81f4-1cebd0d1332d.vsidx
/.vs/GeekShopping.slnx/FileContentIndex/280e6cba-778f-487a-9679-9be809d0c1a3.vsidx
/.vs/GeekShopping.slnx/FileContentIndex/798e9ff5-4506-47ce-98af-c40251872531.vsidx
/.vs/GeekShopping.slnx/FileContentIndex/98c73d6e-4e63-4072-a7a0-06a742d25a98.vsidx
/.vs/GeekShopping.slnx/FileContentIndex/b7fbd4e1-c7de-45ea-ad73-629bcbc07b96.vsidx
/.vs/GeekShopping.slnx/config/applicationhost.config
/.vs/GeekShopping.slnx/v18/.futdcache.v2
/.vs/GeekShopping.slnx/v18/.suo
/.vs/GeekShopping.slnx/v18/DocumentLayout.backup.json
/.vs/GeekShopping.slnx/v18/DocumentLayout.json
